/build
.vscode
/node_modules
/storybook-static
.fttemplates
/reports
/dist
npm-debug.log
cypress/e2e/1-getting-started
cypress/e2e/2-advanced-examples
.scannerwork
sonarqube/extensions
sonarqube/data
sonarqube/logs