{
    "parser": "typescript",
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.tsx",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss",
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}
