.ArticleListItemRedesigned {
    &.list {
        .img {
            width: 100%;
            max-height: 420px;
            object-fit: cover;
        }

        .textBlock {
            max-height: 250px;
            overflow-y: hidden;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background: linear-gradient(
                    rgb(var(--card-bg-blur-redesigned) / 30%),
                    rgb(var(--card-bg-blur-redesigned) / 50%),
                    rgb(var(--card-bg-blur-redesigned) / 90%),
                    rgb(var(--card-bg-blur-redesigned) / 100%)
                );
            }
        }
    }

    &.grid {
        width: 240px;
        height: 350px;
        overflow: hidden;

        .link {
            display: flex;
            flex-direction: column;
            width: inherit;
            height: inherit;
            gap: 8px;
        }

        .img {
            min-height: 140px;
            max-height: 140px;
            width: 100%;
            object-fit: cover;
        }

        .info {
            padding: 16px;
            height: 100%;
        }

        .footer {
            height: 100%;
            justify-content: flex-end;
        }
    }
}
