.ArticleList {
    display: flex;
    width: 100%;
    gap: 30px;
}

.ArticleListRedesigned,
.ArticleList {
    &.grid {
        flex-wrap: wrap;
        width: 100%;
    }

    &.list {
        flex-direction: column;
    }
}
