.Popover {
    height: fit-content;
    display: flex;
    width: fit-content;

    .panel {
        padding: 15px;
        background: var(--dark-bg-redesigned);
        border-radius: 12px;
        position: absolute;
        z-index: var(--dropdown-z-index);
    }
}
