.app.dark {
    --bg-color: #120732;
    --inverted-bg-color: #e8e8ea;
     
    --primary-color: #ffffff;
    --secondary-color: #04ff04;

    --inverted-primary-color: #433489;
    --inverted-secondary-color: #0051ff;
}