.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #8abb7c;
    --primary-color: #000;
    --secondary-color: #546d4d;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #fd0;
}
