.app-orange-theme {
    --bg-color: #fff7f0;
    --inverted-bg-color: #fe8514;
    --primary-color: #dfc901;
    --secondary-color: #feec48;
    --inverted-primary-color: #f9f7f5;
    --inverted-secondary-color: #fff2e5;
}
