.app-orange-theme {
    --bg-color: #4bbd90;
    --inverted-bg-color: #fe8514;
    --primary-color: #b65200;
    --secondary-color: #281200;
    --inverted-primary-color: #f9f7f5;
    --inverted-secondary-color: #f1c69c;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #48f456;
    --card-bg: rgb(111 246 165);
    --card-bg-blur: 111 246 165;
    --listbox-bg: #5af1ab;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;
    --card-bg-blur-redesigned: 255 243 214;
}
