.app-orange-theme {
    --bg-color: #4bbd90;
    --inverted-bg-color: #fe8514;
    --primary-color: #b65200;
    --secondary-color: #281200;
    --inverted-primary-color: #f9f7f5;
    --inverted-secondary-color: #f1c69c;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-bg: #48f456;
    --card-bg: rgb(111 246 165);
    --card-bg-blur: 111 246 165;
    --listbox-bg: #5af1ab;
}
