.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;

    .button {
        &:first-of-type {
            margin-left: auto;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
