.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesigned);
    height: 38px;
    width: 100%;
    transition: border-color 0.1s ease-in-out;

    &.focused {
        border-color: var(--accent-redesigned);

        .addonLeft,
        .addonRight {
            & > svg {
                color: var(--accent-redesigned);
            }
        }
    }

    .input {
        background: none;
        border: none;
        outline: transparent;
        width: 100%;
        color: var(--text-redesigned);

        &:focus {
            outline: transparent;
        }

        &::placeholder {
            color: var(--hint-redesigned);
        }
    }

    &.disabled {
        opacity: 0.7;
    }

    .addonLeft {
        display: inline-flex;
        margin-right: 8px;

        svg {
            color: var(--icon-redesigned);
            transition: color 0.2s ease-in-out;
            width: 16px;
            height: 16px;
        }
    }
}
